(
    axes: {
        // "x": Emulated(pos: Key(Right), neg: Key(Left)),
        // "y": Emulated(pos: Key(Up), neg: Key(Down)),
    },
    actions: {
        "up": [[Key(Up)]],
        "down": [[Key(Down)]],
        "left": [[Key(Left)]],
        "right": [[Key(Right)]],
    },
)