#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: MyPrefabData(
                sprite_scene: (
                    sheet: Sheet(
                        texture: File("images/boxes.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    normalized: true,
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 64,
                                texture_height: 64,
                                columns: 2,
                                rows: 2,
                                cell_size: (32, 32),
                            )),
                        ],
                        name: "box",
                    ),
                    render: (
                        sheet: "box",
                        sprite_number: 0,
                    )
                ),
                animation_set: (
                    animations: [
                        (
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 2, 2.5],
                                            output: [0, 1, 1],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        )
    ],
)